.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  margin-bottom: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.repoContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.dateContainer {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.repoButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: #D0D0D0;
  font-weight: bold;
}

.repoButton:hover{
  transition: background .3s ease-in;
  background-color: rgb(202, 176, 128);
}

.footer{
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
  font-style: italic;
  color: gray;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 60px;
  align-self: center;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: DarkSlateGrey;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}